{% extends 'base.html' %}

{% block body %}

<h3 style="color:darkblue;  font-weight: 500;">Trust your preparation and understand properly, makes a difference!</h3>


  <h3 style=" font-weight: 600;">1.  High Level Design Videos</h3>
 <ul>
  <li><a href="https://www.youtube.com/watch?v=tGXVdaoCd18" target="_blank" >Perfect Basics</a></li>
  <li><a href="https://www.youtube.com/playlist?list=PLMCXHnjXnTnvo6alSjVkgxV-VH6EPyvoX" target="_blank" >Gaurav Sen</a></li>
  </ul>
  <h3 style=" font-weight: 600;">2.  High Level Design Study Material</h3>
  <ul>
  <li><a href="https://drive.google.com/file/d/1EywoI8J6ediKWKptSU-VJast6mj1r1vV/view?usp=sharing" target="_blank" >Grokking the System Design</a></li>
  <li><a href="https://systemdesignprep.com/home" target="_blank" >System Design Notes by Seniors</a></li>
  </ul>
  <h3 style=" font-weight: 600;">3.  Low Level Design Videos</h3>
  <ul>
  <li><a href="https://www.youtube.com/playlist?list=PL12BCqE-Lp650Cg6FZW7SoZwN8Rw1WJI7" target="_blank" >Perfect Low Level Desing Youtube Videos</a></li>
  </ul>
  
  <h3 style=" font-weight: 600;">4. Low Level Design - Grokking the OOP interview</h3>
  <ul>
  <li><a href="/prep/library" target="_blank" >Library Management</a></li>
  <li><a href="/prep/amazon" target="_blank">Amazon</a></li>
  <li><a href="/prep/atm" target="_blank">ATM</a></li>
  <li><a href="/prep/airline" target="_blank">Airline</a></li>
  <li><a href="/prep/movie" target="_blank">Movie</a></li>
  <li><a href="/prep/parking" target="_blank">Parking</a></li>
  <li><a href="/prep/stackoverflow" target="_blank">Stack Overflow</a></li>
  <li><a href="/prep/hotel" target="_blank">Hotel</a></li>
  <li><a href="/prep/movie" target="_blank">Movie</a></li>
  <li><a href="/prep/facebook" target="_blank">Facebook</a></li>
  <li><a href="/prep/cricketinfo" target="_blank">Cricket Info</a></li>
  <li><a href="/prep/chess" target="_blank">Chess</a></li>
  <li><a href="/prep/resto" target="_blank">Resto</a></li>
  <li><a href="/prep/stock" target="_blank">Stock</a></li>
  <li><a href="/prep/linkedin" target="_blank">Limkedin</a></li>
  <li><a href="/prep/carrental" target="_blank">Car Rental</a></li>
  </ul>



{% endblock %}
