{% extends 'base.html' %}

{% block body %}

<p>You will do System Design Very Well!</p>

<ul>
  <!-- note how items from routes in the the Python script are linked -->
  <li><a href="http://localhost:5000/pdf" target="_blank" >High Level System Design</a></li>
  <li><a href="http://localhost:5000/prep.html/library" target="_blank" >Library Management</a></li>
  <li><a href="http://localhost:5000/prep.html/amazon" target="_blank">Amazon</a></li>
  <li><a href="http://localhost:5000/prep.html/atm" target="_blank">ATM</a></li>
  <li><a href="http://localhost:5000/prep.html/airline" target="_blank">Airline</a></li>
  <li><a href="http://localhost:5000/prep.html/movie" target="_blank">Movie</a></li>
  <li><a href="http://localhost:5000/prep.html/parking" target="_blank">Parking</a></li>
  <li><a href="http://localhost:5000/prep.html/stackoverflow" target="_blank">Stack Overflow</a></li>
  <li><a href="http://localhost:5000/prep.html/hotel" target="_blank">Hotel</a></li>
  <li><a href="http://localhost:5000/prep.html/movie" target="_blank">Movie</a></li>
  <li><a href="http://localhost:5000/prep.html/facebook" target="_blank">Facebook</a></li>
  <li><a href="http://localhost:5000/prep.html/cricketinfo" target="_blank">Cricket Info</a></li>
  <li><a href="http://localhost:5000/prep.html/chess" target="_blank">Chess</a></li>
  <li><a href="http://localhost:5000/prep.html/resto" target="_blank">Resto</a></li>
  <li><a href="http://localhost:5000/prep.html/stock" target="_blank">Stock</a></li>
  <li><a href="http://localhost:5000/prep.html/linkedin" target="_blank">Limkedin</a></li>
  <li><a href="http://localhost:5000/prep.html/carrental" target="_blank">Car Rental</a></li>
</ul>



{% endblock %}
