{% extends 'base.html' %}

{% block body %}

<h3 style="margin-left:9%;">Trust your preparation and read the concepts for making an impact!</h3>

<ul>
  <!-- note how items from routes in the the Python script are linked -->
  <h3> High Level Design</h3>
  <li><a href="https://drive.google.com/file/d/1EywoI8J6ediKWKptSU-VJast6mj1r1vV/view?usp=sharing" target="_blank" >Grokking the System Design</a></li>
  <li><a href="https://systemdesignprep.com/home" target="_blank" >System Design Notes by Seniors</a></li>

  <h3> Low Level Design</h3>
  <li><a href="/prep.html/library" target="_blank" >Library Management</a></li>
  <li><a href="/prep.html/amazon" target="_blank">Amazon</a></li>
  <li><a href="/prep.html/atm" target="_blank">ATM</a></li>
  <li><a href="/prep.html/airline" target="_blank">Airline</a></li>
  <li><a href="/prep.html/movie" target="_blank">Movie</a></li>
  <li><a href="/prep.html/parking" target="_blank">Parking</a></li>
  <li><a href="/prep.html/stackoverflow" target="_blank">Stack Overflow</a></li>
  <li><a href="/prep.html/hotel" target="_blank">Hotel</a></li>
  <li><a href="/prep.html/movie" target="_blank">Movie</a></li>
  <li><a href="/prep.html/facebook" target="_blank">Facebook</a></li>
  <li><a href="/prep.html/cricketinfo" target="_blank">Cricket Info</a></li>
  <li><a href="/prep.html/chess" target="_blank">Chess</a></li>
  <li><a href="/prep.html/resto" target="_blank">Resto</a></li>
  <li><a href="/prep.html/stock" target="_blank">Stock</a></li>
  <li><a href="/prep.html/linkedin" target="_blank">Limkedin</a></li>
  <li><a href="/prep.html/carrental" target="_blank">Car Rental</a></li>
</ul>



{% endblock %}
